
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html ,body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px;
}
.headerr{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.headertext{
    display: flex;
    gap: 30px;
}
.headerr h1{
    color: #021638;
    font-weight: 800;
}
.headerr a{
    text-decoration: none;
    color: #8f9292;
    transition: all 0.3s ease-in-out;
}
#main{
    color: aliceblue;
}
.headerr a:hover{
    color: #021638;
}
.btn{
    padding: 10px 30px;
    text-align: center;
    border-radius: 50px;
    border: none;
    outline: none;
    background-color: #021638;
    text-decoration: none;
    color: aliceblue;
    transition: all 0.3s ease-in-out;
}

.btn:hover{
    box-shadow:0 0 10px 0 grey;
    color: antiquewhite;
}

section{
    display: flex;  
}
.hero{
    display: flex;
    height: 70pxvh;
    padding: 30px 100px 0px 100px;
}
.left{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: center;
    text-align: left;
    padding: 0 50px;
    gap: 20px;
    color: #8f9292;
}
.left h1{
    font-size: 60px;
    color: #021638;
}
.left p{
    line-height: 25px;
}
.right{
    width: 50%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
}
.fbtn{
    gap: 30px;
    display: flex;
}
.white{
    color: #021638  ;
}
.right img{
    height: 400px;
}
footer{
    display: flex;
    justify-content: center;
    gap: 70px;
    align-items: center;
    height: 90px;
}
footer img{
    height: 25px;
    opacity: 0.4;
    filter: grayscale();
    transition: all 0.3s ease-in-out;
}

footer img:hover{
    cursor: pointer;
    filter: grayscale(0);
    opacity: 0.9;
}

@media only screen and (max-width: 600px) {
    body{
        width: 100vw;
        height: 100vh;
    }
    html{
        width: 100vw;
        height:100vh;
    }
    header{
        padding: 10px 10px;
    }
    .headertext{
        display: none;
    }
    .hero{
        display: block;
        padding: 0 ;
        margin-top: 100px;
    }
    .left{
        width: 100%;
    }
    .right{
        width: 100%;
        margin-top: 100px;
    }
    footer{
        width: 100%;
        justify-content: space-evenly;
        padding: 0 50px;
    }
    footer img{
        height: 15px;
    }
  }

  @media only screen and (max-width: 400px) {
    .hero{
        margin-top: 20px;
    }
    .left h1{
        font-size: 57px;
    }
    .btn{
        padding: 10px 25px;
    }
    footer{
        width: 100%;
        padding: 0 100px;
        gap: 20px;
  }